<%- include("partials/header") %>

<h1>Search Public APIs</h1>

<form action='/results' method="GET">
    <input type="text" name="search" placeholder="Search API">
    <input type="submit">
</form>

<%- include("partials/footer") %>